
body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-color: #0f172a;
    color: white;
}

header {
    background-color: #ff6b00;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.seccion {
    padding: 40px 20px;
    text-align: center;
    background-color: #1e293b;
    margin: 10px auto;
    border-radius: 10px;
    width: 90%;
    max-width: 900px;
}

.galeria img {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #ff6b00;
    transition: transform 0.3s;
}

.galeria img:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #111827;
    font-size: 14px;
}
